.app-content {
	display: flex;
	padding-top: 80px;
	width: 100%;
    background: #F8FBFA;
    
    @media screen and (max-width:767px) {
        padding-top: 0;
    }

    .book-dr-info {
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px 0;

        @media screen and (max-width:430px) {
            display: block;
        }


        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #8E8E93;
            bottom: 0;
            left: 0;
        }

        .book-dr-block {
            display: flex;
            align-items: center;

            .dr-avatar {
                width: 75px;
                height: 75px;
                border: 1px solid #707070;

                @media screen and (max-width:991px) {
                    width: 55px;
                    height: 55px;
                }
                @media screen and (max-width:991px) {
                    width: 40px;
                    height: 40px;
                }
            }

            .bool-dr-dtls {
                padding-left:15px;

                h2 {
                    font-size: 20px;
                    color: #1B91EE;
                    margin-bottom: 0;
                    font-weight: bold;
                    @media screen and (max-width:991px) {
                        font-size: 18px;
                    }
                }

                span {
                    font-size: 18px;
                    color: #1B91EE;
                    margin-bottom: 0;
                    @media screen and (max-width:991px) { 
                        font-size: 16px;
                    }
                }
                p {
                    color: #FA8C15;
                    font-size: 20px;
                    margin-bottom: 0;

                    @media screen and (max-width:991px) {
                        font-size: 17px;
                    }
                }

                address {
                    color: #7B7A7A;
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }

        }
        .chng-date-block {
            display: flex;
            margin-left: auto;

            @media screen and (max-width:430px) {
                margin-top: 15px;
            }

            a {
                color: #8E8E93;
                background: #fff;
                padding: 10px 30px;
                font-size: 18px;
                border-radius: 4px;
                border: 1px solid #8E8E93;
                transition: 0.5s all;

                @media screen and (max-width:991px) { 
                    padding: 5px 20px;
                    font-size: 14px;
                }

                &:hover {
                    color: #fff;
                    background: #1B91EE;
                    border: 1px solid #1B91EE;
                }
            }
        }
    }

    .form-wrap-block {
        padding-top: 15px;

        form {
            width: 100%;
            max-width: 560px;
            margin: auto;
            padding-bottom: 100px;
            

            .block-title {
                width: 100%;
                display: block;
                h1 {
                    font-size: 28px;
                    color: #1C69A7;
                    font-weight: lighter;
                }
            }
            .bt {
                padding-left: 15px;
            }
            .apbt {
                margin-top: 15px;
            }

            .f-wrapper {
                display: flex;
           
                .form-group {
                    &:first-of-type {
                        padding-right: 15px;
                    }
                    
                }
            
            [type="radio"] {
                &:checked, &:not(:checked) {
                  position: absolute;
                  left: -9999px;
                }
              
                &:checked + label, &:not(:checked) + label {
                  position: relative;
                  padding-left: 45px;
                  cursor: pointer;
                  font-size: 15px;
                  display: inline-block;
                  color: #43425D;
                  margin-bottom: 0;
                  line-height: 1.7;
                }
              
                &:checked + label:before, &:not(:checked) + label:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 30px;
                  height: 30px;
                  border: 2px solid #1B91EE;
                  border-radius: 100%;
                  background: transparent;
                }
              
                &:checked + label:after {
                  content: '';
                  width: 14px;
                  height: 14px;
                  background: #1B91EE;
                  position: absolute;
                  top: 8px;
                  left: 8px;
                  border-radius: 100%;
                  -webkit-transition: all 0.2s ease;
                  transition: all 0.2s ease;
                }
              
                &:not(:checked) + label:after {
                  content: '';
                  width: 12px;
                  height: 12px;
                  background: #F87DA9;
                  position: absolute;
                  top: 4px;
                  left: 4px;
                  border-radius: 100%;
                  -webkit-transition: all 0.2s ease;
                  transition: all 0.2s ease;
                  opacity: 0;
                  -webkit-transform: scale(0);
                  transform: scale(0);
                }
              
                &:checked + label:after {
                  opacity: 1;
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
        }
    }
    }
    .form-details-block {

        .form-group-wrap {
            label {
                color: #000;
                font-size: 14px;
            }

            .form-group {
                margin-bottom: 15px;

                label {
                    color: #000;
                    font-size: 14px;
                }
                input {
                    height: 35px;
                }
            }
            .dropdown {
                width: 100%;
                height: 35px;

                .ins-drpdwn {
                    box-shadow: none;
                    margin-right: 0;
                    background: #fff;
                    border: 1px solid #8E8E93;
                    border-radius: 4px;
                    width: 100%;
                    text-align: left;
                    position: relative;
                    color: #7B7A7A;
                    height: 35px;
                    padding-top: 5px;

                    &:hover {
                        box-shadow: none;
                        transform: none;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        height: 12px;
                        width: 12px;
                        border-top: 3px solid #8E8E93;
                        display: block;
                        border-right: 3px solid#8E8E93;
                        transform: rotate(135deg);
                        -moz-transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                        right: 20px;
                        top: 8px;
                        border-left: none;
                        
                    }
                }
            }
        }
    }
}

.txtarea {
    margin: 30px 0;
    border-radius: 4px;
    border: 1px solid #8E8E93;
}
.book-now-btn {
    .bk-now-btn {
        width: 100%;
        box-shadow: none;
        background: #1B91EE;
        color: #fff;
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }

}
.app-booked-appointment {
	width: 100%;
	max-width: 500px;
	margin: auto;
    text-align: center;
    padding-bottom: 100px;
    
    h1 {
        font-size: 50px;
        font-weight: lighter;
        color: #1C69A7;
    }
    h5 {
        font-size: 30px;
        font-weight: normal;
        color: #FA8C15;
    }
    h6 {
        font-size: 25px;
        font-weight: normal;
        color: #1C69A7;
    }
    p {
        font-size: 25px;
        font-weight: normal;
        color: #1C69A7;
        line-height: normal;
    }
    h2 {
        font-size: 60px;
        font-weight: normal;
        color: #FA8C15;
        line-height: normal;
    }
    .conform-app {

        h3 {
            font-size: 25px;
            font-weight: 700;
            color: #1C69A7;
            line-height: normal;
        }
        .book-btns {

            display: block;
            width: 100%;
            max-width: 300px;
            margin: auto;
            margin-top: 30px;

            .cnfrm-app {
                display: block;
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
                box-shadow: none;
                border-radius: 4px;
                transition: 0.4S all;
                color: #fff;
                background: #1B91EE;

                &:hover {
                    box-shadow: none;
                    transform: none;
                }
            }
            .cancel-btn {
                display: block;
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
                box-shadow: none;
                border-radius: 4px;
                transition: 0.4S all;
                color: #7B7A7A;
                background: #fff;
                border:1px solid #7B7A7A;
                margin-left: 0;

                &:hover {
                    box-shadow: none;
                    transform: none;
                    background: #1B91EE;
                    color: #fff;
                    border: 1px solid #1B91EE;
                }
            }
        }
    }
}

.book-complete-inner {
	width: 100%;
	max-width: 500px;
	margin: auto;
    text-align: center;
    padding-bottom: 100px;
    
    h1 {
        font-size: 50px;
        font-weight: lighter;
        color: #1C69A7;
    }
    h5 {
        font-size: 30px;
        font-weight: normal;
        color: #FA8C15;
    }
    h6 {
        font-size: 25px;
        font-weight: normal;
        color: #1C69A7;
    }
    p {
        font-size: 25px;
        font-weight: normal;
        color: #1C69A7;
        line-height: normal;

        a {
            color: #1B91EE;
            text-decoration: underline;
        }
    }
    h2 {
        font-size: 60px;
        font-weight: normal;
        color: #FA8C15;
        line-height: normal;
    }
    .conform-app {

        h3 {
            font-size: 25px;
            font-weight: 700;
            color: #1C69A7;
            line-height: normal;
        }
        .book-btns {

            display: block;
            width: 100%;
            max-width: 300px;
            margin: auto;
            margin-top: 30px;
            
            .book-digital-checkin {
                display: block;
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
                box-shadow: none;
                border-radius: 4px;
                transition: 0.4S all;
                color: #fff;
                background: #1B91EE;
                font-size: 18px;

                &:hover {
                    box-shadow: none;
                    transform: none;
                }
            }
            .calender-btn {
                display: block;
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
                box-shadow: none;
                border-radius: 4px;
                transition: 0.4S all;
                color: #1B91EE;
                background: #fff;
                border:1px solid #1B91EE;
                margin-left: 0;
                position: relative;
                font-size: 18px;

                &:hover {
                    box-shadow: none;
                    transform: none;
                   
                }
                img {
                    position: absolute;
                    left: 15px;
                    top: 11px;
                }
            }
            .emailapp-btn {
                display: block;
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
                box-shadow: none;
                border-radius: 4px;
                transition: 0.4S all;
                color: #1B91EE;
                background: #fff;
                border:1px solid #1B91EE;
                margin-left: 0;
                position: relative;
                font-size: 18px;

                &:hover {
                    box-shadow: none;
                    transform: none;
                   
                }
                img {
                    position: absolute;
                    left: 15px;
                    top: 14px;
                }
            }
            
        }
        .another-email-btn {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            margin-right: 0;
            box-shadow: none;
            border-radius: 4px;
            transition: 0.4S all;
            color: #1B91EE;
            background: #fff;
            border:1px solid #1B91EE;
            margin-left: 0;
            position: relative;
            font-size: 18px;

            &:hover {
                box-shadow: none;
                transform: none;
               
            }
            img {
                position: absolute;
                left: 15px;
                top: 14px;
            }
        }
        
    }
        
    }

    .congratulations-inner {
        width: 100%;
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding-bottom: 100px;
        
        h1 {
            font-size: 50px;
            font-weight: 500;
            color: #1C69A7;
        }
        span {
            font-size: 25px;
            color: #1C69A7;
        }
        h5 {
            font-size: 30px;
            font-weight: normal;
            color: #FA8C15;
            margin-top: 30px;
        }
        h6 {
            font-size: 25px;
            font-weight: normal;
            color: #1C69A7;
        }
        p {
            font-size: 25px;
            font-weight: normal;
            color: #1C69A7;
            line-height: normal;
        }
        h2 {
            font-size: 60px;
            font-weight: normal;
            color: #FA8C15;
            line-height: normal;
        }
        .conform-app {
    
            h3 {
                font-size: 25px;
                font-weight: 700;
                color: #1C69A7;
                line-height: normal;
            }
            .book-btns {
    
                display: block;
                width: 100%;
                max-width: 300px;
                margin: auto;
                margin-top: 30px;
    
                .cnfrm-app {
                    display: block;
                    width: 100%;
                    margin-bottom: 15px;
                    margin-right: 0;
                    box-shadow: none;
                    border-radius: 4px;
                    transition: 0.4S all;
                    color: #fff;
                    background: #1B91EE;
    
                    &:hover {
                        box-shadow: none;
                        transform: none;
                    }
                }
                .cancel-btn {
                    display: block;
                    width: 100%;
                    margin-bottom: 15px;
                    margin-right: 0;
                    box-shadow: none;
                    border-radius: 4px;
                    transition: 0.4S all;
                    color: #7B7A7A;
                    background: #fff;
                    border:1px solid #7B7A7A;
                    margin-left: 0;
    
                    &:hover {
                        box-shadow: none;
                        transform: none;
                        background: #1B91EE;
                        color: #fff;
                        border: 1px solid #1B91EE;
                    }
                }
            }
        }
        .generated-details {
            margin-top: 30px;
            display: block;
            h2 {
                font-size: 25px;
                font-weight: 700;
                color: #1C69A7;
                margin-bottom: 30px;
            }
            p {
                margin: 0;
            }
        }
    }
    

    .dispaly{
        display: none;
    }
    .rdt {
        width: 100% !important;
    }