.dr-prfle-wrap {
	display: flex;
	padding-top: 80px;
	width: 60%;
    background: #F8FBFA;




    @media screen and (max-width:1250px) {
        width: 70%;
    }
    @media screen and (max-width:991px) {
        width: 100%;
        display: inline-block !important;
    }

    @media screen and (max-width:576px) {
        padding-top: 0;
    }

    .dr-prfl-main-block {

        .dr-prfle-info {
            display: flex;
            align-items: center;
            padding: 30px 0 20px 0;
            position: relative;
            @media screen and (max-width:390px) {
                padding:5px 0 20px 0;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: #8E8E93;
            }
        
        
        .dr-prfle-img {
            float: left;
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }
        .dr-prfle-right-info {
            float: left;

            

            h3 {
                font-size: 20px;
                font-weight: bold;
                color: #1B91EE;
                margin-bottom: 0;

                @media screen and (max-width:390px) {
                    font-size: 16px;
                }
            }
            h4 {
                color: #1B91EE;
                font-size: 18px;
                margin-bottom: 0;

                @media screen and (max-width:390px) {
                    font-size: 14px;
                }
            }
            p {
                margin: 0;
                color: #7B7A7A;
                font-size: 16px;
                @media screen and (max-width:390px) {
                    font-size: 12px;
                }
            }
            span {
                color: #FA8C15;
            }
            address {
                margin-bottom: 0;
                @media screen and (max-width:390px) {
                    font-size: 12px;
                }
            }
        }
    }

        
        }
        .dr-main-block {

            height: 700px;
            overflow-y: scroll;
            overflow-x: hidden ;

            @media screen and (max-width:767px) {
                overflow-y: auto;
                height: auto;
            }
        .apointment-book {
            padding: 15px 0;

            .ap-label {
                font-size: 14px;
                color: #7B7A7A;
            }
            .ap-btns {
                list-style: none;
                display: flex;
                padding-left: 0;
                @media screen and (max-width:450px) {
                    justify-content: space-between;
                 }

                 @media screen and (max-width:390px) {
                    flex-direction: column ;
                 }

                li {
                    float: left;
                    padding-right: 30px;

                    @media screen and (max-width:450px) {
                        float: none;
                        padding-right: 0;
                    }

                    &:last-of-type {
                        padding-right: 0;
                    }

                    .form-group {
                        display: block;
                        margin-bottom: 15px;
                        @media screen and (max-width:390px) {
                            margin-bottom:5px ;
                         }
        
                        input {
                            padding: 0;
                            height: initial;
                            width: initial;
                            margin-bottom: 0;
                            display: none;
                            cursor: pointer;
                        }
                            input:checked {
        
                            + label{
        
                                &:after     {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 7px;
                                    left: 6px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid #1B91EE;
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);

                                    @media screen and (max-width:1100px) {
                                        top: 4px;
                                    }
                                }
                            }
                        } 
                    }
                }
                    
            }
            
                  label {
                    position: relative;
                    cursor: pointer;
                    color: #1B91EE;
                    font-size: 15px;

                    @media screen and (max-width:1100px) {
                        font-size: 12px;
                    }

                    &:before {
                        content:'';
                        -webkit-appearance: none;
                        background-color: #fff;
                        border: 2px solid #707070;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                        padding: 6px;
                        display: inline-block;
                        position: relative;
                        vertical-align: middle;
                        cursor: pointer;
                        margin-right: 10px;

                        @media screen and (max-width:1100px) {
                            margin-right: 5px;
                            padding: 8px;
                        }
                      }
                      span {
                          font-size: 12px;
                          color: #8E8E93;

                          @media screen and (max-width:1100px) {
                            font-size: 9px;
                        }
                      }
                  }
                    
              }

    .appointment-table {
        text-align: center;
        padding: 0 60px;

        @media screen and (max-width:1250px) {
            padding: 0 20px;
        }
        .item {

            h3 {
                color: #8E8E93;
                font-size: 15px;
                margin: 0;
            }

            h4 { 
                color: #8E8E93;
                font-size: 12px; 
            }
        }
        .owl-dots {
            display: none;
        }
        .owl-nav {
            display: block;
            margin: 0 auto !important;

            .owl-prev {
                position: absolute;
                left: 0;
                top: -40px;
                
                margin: auto !important;
                &:hover {
                    background: transparent;
                }   
                span {
                    font-size: 70px;
                    color:#D1D1D6;

                    &:hover {
                        color: #1B91EE;
                    }
                }
            }
            .owl-next {
                position: absolute;
                right:  0;
                top: -40px;
                
                margin: auto !important;
                &:hover {
                    background: transparent;
                }   
                span {
                    font-size: 70px;
                    color:#D1D1D6;

                    &:hover {
                        color: #1B91EE;
                    }
                }
            }

        }
        
    }

    .ap-dates {
        display: inline-block;
        width: 100%;
        margin-top: 30px;
        padding: 0 ;
        position: relative;

        
            ul {
                list-style: none;
                padding: 0;
                width: 100%;
                max-width: 650px;
                margin: auto;
            

            li {
                display: inline-block;
                padding:0  15px;
                width: 100%;
                text-align: center;
                max-width: 130px;
                margin-bottom: 15px;
                
                a.active {
                    padding: 10px;
                    background:#02CCBB;
                    color:#fff;
                    border-radius: 4px;
                    border: 1px solid #D9D9D9;
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    max-width: 110px;

                    @media screen and (max-width:991px) {
                        font-size: 12px;
                    }
                }
                a {
                    padding: 10px;
                    background:#fff;
                    color:#535353;
                    border-radius: 4px;
                    border: 1px solid #D9D9D9;
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    max-width: 110px;

                    @media screen and (max-width:991px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .dr-prfle-review {
        padding: 30px 0;
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 15px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #D1D1D1;
            left: 0;
            top: 0;
        }

        .review-title-block {
            width: 100%;

            h1 {
                font-size: 28px;
                color: #1B91EE;
                font-weight: 300;
                display: inline-flex;

                @media screen and (max-width:576px) {

                }
            }
            span {
                float: right;
                svg {
                    margin-left: 10px;
                }
            }
        }

        .rvw-info {

            label {
                font-size: 14px;
                color: #7B7A7A;
            }
            p {
                margin: 0;
                font-size: 40px;
                color: #FA8C15;
                font-weight: 600;
                line-height: normal;

                @media screen and (max-width:576px) {
                    font-size: 32px;
                }
            }
        }
        .star-ratings {
            img {
                padding-right: 10px;
            }

            @media screen and (max-width:576px) {
                margin-bottom: 15px;
            }
        }
        .wait-time-block {
            display: inline-block;

            label {
                display: inline-block;
                color: #7B7A7A;
                margin: 0;
            }

            span {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: #7B7A7A;
                font-weight: 600;

                .star-ratings {
                    display: inline-block;
                    padding-left: 15px;
                }
            }
        }

        .personality-block {
            display: block;
            margin-top: 15px;
            @media screen and (max-width:576px) {
                margin-top: 15px;
            }

            label {
                display: inline-block;
                color: #7B7A7A;
                margin: 0;
            }

            span {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: #7B7A7A;
                font-weight: 600;

                .star-ratings {
                    display: inline-block;
                    padding-left: 15px;
                }
            }
        }



        .overall-rating {
            padding: 30px 0 0 0;
            position: relative;
            margin-top:30px ;
            @media screen and (max-width:576px) {
                margin-top: 10px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #D1D1D1;
            }

            .overall-block {
                font-size: 12px;
                color: #7B7A7A;
            }
            .personality-rvw-block {
                font-size: 12px;
                color: #7B7A7A;
            }
            .wait-time-rvw-block{
                font-size: 12px;
                color: #7B7A7A;
            }
            .review-txt {
                padding: 20px 0 0 0;

                p {
                    font-size: 12px;
                    color: #7B7A7A;
                }
            }
        }

        .read-btn {
            display: inline-block;
            width: 100%;
            margin-top: 15px;

            a {
                background: #fff;
                border-radius: 4px;
                border: 1px solid #D9D9D9;
                font-size: 14px;
                color: #535353;
                padding: 10px 30px;
            }
        }

            
        
    
    }
    

    .photos-block {

        position: relative;
        padding-top: 15px;
        
        

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #D1D1D1;

        }

        h1 {
            font-size:28px ;
            color: #1C69A7;
            font-weight: 300;
            @media screen and (max-width:576px) {
                font-size: 22px;
            }
        }
        .pht-grid {
            padding: 0;
            list-style: none;
            display: inline-block;
            width: 100%;




            li {
                width: 85px;
                height: 85px;
                border: 1px solid #707070;
                background: #fff;
                margin-right:30px;
                float: left;

                &:last-of-type {
                    margin-right: 0;
                }

                @media screen and (max-width:1100px) {
                    margin-right: 15px;
                    width: 65px;
                    height: 65px;
                }
                @media screen and (max-width:420px) {
                    width: 50px;
                    height: 50px;
                }
                @media screen and (max-width:340px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
.stmnt-block {
    h1 {
        font-size:28px ;
        color: #1C69A7;
        font-weight: 300;
        @media screen and (max-width:576px) {
            font-size: 22px;
        }
    }
    p {
        font-size: 12px;
        color:#7B7A7A;
    }
}

}
.mb-dr-rfle {
    display: none;

    @media screen and (max-width:576px) {

        display: block;
        padding: 16px 0;
	    background: #fff;
    }
	
}

.input-group-alternative {
    input {
        @media screen and (max-width:841px) {
            width: 50px !important;
        }
    }
}
.stmnt-block {
	margin-bottom: 90px;
}
.index-map {
	display: block;
}