.list-sponsored {
	h5 {
	color:#f98c14;
	font-size:14px;
	font-weight:600;

	}
}

.list-view-doctor-info {
	h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1b91ee;
    margin-bottom: 0;
    }

    address {
        margin-bottom: 0;
    font-size: 14px;
    color: #8e8e93;
    }

     p {
    margin-bottom: 0;
    color: #7b7a7a;
    font-weight: 600;
    font-size: 14px;
	}
}

.buttons-grp{
	width: 100%;
    text-align: left !important;
}

.doctor-info .doctor-bottom .buttons-grp .single-btn a{
	padding: 10px 25px;
	font-size: 15px;
}

.doctor-info .doctor-bottom .buttons-grp p {
    font-size: 15px;
}
.poweredBy{
	width: 100%; 
    text-align: center;
    margin-top: 10px;
}